/***************Creo el aspecto de los botones********************/
	.boton {
		-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
		-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
		box-shadow: 0px 1px 0px 0px #f0f7fa;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #0255d1));
		background:-moz-linear-gradient(top, #33bdef 5%, #0255d1 100%);
		background:-webkit-linear-gradient(top, #33bdef 5%, #0255d1 100%);
		background:-o-linear-gradient(top, #33bdef 5%, #0255d1 100%);
		background:-ms-linear-gradient(top, #33bdef 5%, #0255d1 100%);
		background:linear-gradient(to bottom, #33bdef 5%, #0255d1 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#0255d1',GradientType=0);
		background-color:#33bdef;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #057fd0;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:constantia;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px -1px 0px #5b6178;
	}
	.boton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0255d1), color-stop(1, #33bdef));
		background:-moz-linear-gradient(top, #0255d1 5%, #33bdef 100%);
		background:-webkit-linear-gradient(top, #0255d1 5%, #33bdef 100%);
		background:-o-linear-gradient(top, #0255d1 5%, #33bdef 100%);
		background:-ms-linear-gradient(top, #0255d1 5%, #33bdef 100%);
		background:linear-gradient(to bottom, #0255d1 5%, #33bdef 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0255d1', endColorstr='#33bdef',GradientType=0);
		background-color:#0255d1;
	}
	

	.boton_sup {
		-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
		-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
		box-shadow:inset 0px -3px 7px 0px #29bbff;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
		background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
		background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
		background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
		background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
		background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
		background-color:#2dabf9;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #0b0e07;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:constantia;
		font-size:15px;
		padding:9px 23px;
		text-decoration:none;
		text-shadow:0px 1px 0px #263666;
	}
	.boton_sup:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
		background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
		background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
		background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
		background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
		background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
		background-color:#0688fa;
	}
	

	.boton_lat {
		-moz-box-shadow:inset 0px -3px 7px 0px #91b8b3;
		-webkit-box-shadow:inset 0px -3px 7px 0px #91b8b3;
		box-shadow:inset 0px -3px 7px 0px #91b8b3;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
		background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
		background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
		background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
		background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
		background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
		background-color:#768d87;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #566963;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:constantia;
		font-size:15px;
		padding:9px 23px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2b665e;
	}
	.boton_lat:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
		background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
		background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
		background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
		background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
		background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
		background-color:#6c7c7c;
	}



	.boton_adm {
		-moz-box-shadow:inset 0px -3px 7px 0px #451414;
		-webkit-box-shadow:inset 0px -3px 7px 0px #451414;
		box-shadow:inset 0px -3px 7px 0px #451414;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #990000), color-stop(1, #AD3333));
		background:-moz-linear-gradient(top, #990000 5%, #AD3333 100%);
		background:-webkit-linear-gradient(top, #990000 5%, #AD3333 100%);
		background:-o-linear-gradient(top, #990000 5%, #AD3333 100%);
		background:-ms-linear-gradient(top, #990000 5%, #AD3333 100%);
		background:linear-gradient(to bottom, #990000 5%, #AD3333 100%);
		background-color:#990000;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #0b0e07;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:constantia;
		font-size:15px;
		padding:9px 23px;
		text-decoration:none;
		text-shadow:0px 1px 0px #263666;
	}
	.boton_adm:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #AD3333), color-stop(1, #990000));
		background:-moz-linear-gradient(top, #AD3333 5%, #990000 100%);
		background:-webkit-linear-gradient(top, #AD3333 5%, #990000 100%);
		background:-o-linear-gradient(top, #AD3333 5%, #990000 100%);
		background:-ms-linear-gradient(top, #AD3333 5%, #990000 100%);
		background:linear-gradient(to bottom, #AD3333 5%, #990000 100%);
		background-color:#AD3333;
	}

	/*Creo los botones de los diferentes escáneres que van a permitir descargar y borrar ficheros*/

	button.scan {
		width: 100%;
		height: 100%;
		vertical-align: middle;
		background-color: #0099CC;
		background-image: url('../img/icons/scan.png');
		background-repeat: no-repeat;
		background-size: 95%;
		background-position: center;
		font-weight: bold;
		font-size: 1.2em;
		color: white;
	}

	button.multi {
		width: 100%;
		height: 100%;
		vertical-align: middle;
		background-color: #0099CC;
		background-image: url('../img/icons/multi.png');
		background-repeat: no-repeat;
		background-size: 95%;
		background-position: center;
		font-weight: bold;
		font-size: 1.2em;
		color: white;
	}

	button.img {
		width: 100%;
		height: 100%;
		vertical-align: middle;
		background-color: #0099CC;
		background-image: url('../img/icons/img.png');
		background-repeat: no-repeat;
		background-size: 95%;
		background-position: center;
		font-weight: bold;
		font-size: 1.2em;
		color: white;		
	}

	button.doc {
		width: 100%;
		height: 100%;
		vertical-align: middle;
		background-color: #0099CC;
		background-image: url('../img/icons/doc.png');
		background-repeat: no-repeat;
		background-size: 95%;
		background-position: center;
		font-weight: bold;
		font-size: 1.2em;
		color: white;
	}

	button.html {
		width: 100%;
		height: 100%;
		vertical-align: middle;
		background-color: #0099CC;
		background-image: url('../img/icons/html.png');
		background-repeat: no-repeat;
		background-size: 95%;
		background-position: center;
		font-weight: bold;
		font-size: 1.2em;
		color: white;
	}

	button.exe {
		width: 100%;
		height: 100%;
		vertical-align: middle;
		background-color: #0099CC;
		background-image: url('../img/icons/exe.png');
		background-repeat: no-repeat;
		background-size: 95%;
		background-position: center;
		font-weight: bold;
		font-size: 1.2em;
		color: white;
	}